<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>User Dashboard</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Welcome to Your User Dashboard</h1>
        <h2>Hello, {{ username }}!</h2>
      </header>
      <section class="user-info">
        <h3>Your Information:</h3>
        <ul>
          <li><strong>Email:</strong> {{ email }}</li>
          <li><strong>Age:</strong> {{ age }}</li>
          <li><strong>Info:</strong> {{ info }}</li>
          <li><strong>Role:</strong> {{ role }}</li>
        </ul>
      </section>
      <footer>
        <a href="{{ url_for('user_posts') }}" class="logout-button"
          >See your Posts</a
        >
        <br />
        <br />
        <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
      </footer>
    </div>
  </body>
</html>
